{% extends 'shop/base.html' %}
{% load static %}

{% block content %}

<div class="block-31" style="position: relative; ">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 item" style="background-image: url('static/images/img2.png');" data-stellar-background-ratio="0.5">
        <div class="container ">
         
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 ">  
              <h1 style="font-family: 'Work Sans', sans-serif; color: white;">Foundation for Arid and Semi-Arid Lands</h1>
              <p data-scrollax=""><a  href="youtube.html" class="btn btn-primary btn-hover-teal px-4 py-3 " style= "color: rgb(255, 81, 0);"  target="_blank"><span  class="icon-play mr-2"></span  >Watch Videos</a></p>
          </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="featured-section overlay-color-2" style="background-image: url('static/images/bg_3.jpg');">
    
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <img src="static/images/arid-semi-arid.png" alt="Image placeholder" class="img-fluid">
        </div>

        <div class="col-md-6 pl-md-5">
          
          <span class="featured-text d-block mb-3">Introduction to ASAL</span>

          <p class="mb-3">The Arid and Semi Arid Lands (ASALs) make up more than 40% of the earth’s surface and are home to 35% of its population1. In Kenya, the ASALs occupy 89% of the country and are home to about 14 million people and approximately 70% of the national livestock herd. The defining feature of the ASALs is their aridity. Annual rainfall in arid areas ranges between 150mm and 550mm per year, and in semi-arid areas between 550mm and 850mm per year. Temperatures in arid areas are high throughout the year, with high rates of evapo-transpiration.ASALS in  Kenya display many of the characteristics of remote rural areas caught in chronic poverty traps.</p>

         <p><a href="" class="btn btn-success btn-hover-white py-3 px-5">Read The Full Story</a></p>
        </div>
       
      </div>
    </div>

  </div> 

  <div class="site-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4" style="box-shadow: 0 0px 8px 0 #636363;  ">
          <br>
          <div class="media block-6">
            <div class="icon"><span class="flaticon-people"></span></div>
            <div class="media-body">
              <h3 class="heading">Peace and Security </h3>
             
              <p>To promote social, cultural and ethnic cohesion for sustainable peace in ASALS.This is enhanced through joint peace initiatives accross communities.</p>
              <p><a  href="events.html"class="mybutton btn btn-primary btn-hover-teal py-6 px-9">Learn More</a></p>
            </div>
          </div>     
        </div>

        <div class="col-md-4"  >
            <br>
          <div class="media block-6">
            <div class="icon" ><span class="flaticon-donate" ></span></div>
            <div class="media-body">
              <h3 class="heading">Acess to Education</h3>
              <p>To empower  girls in ASALS through acess to formal education.We promote thise through Initiatives such as sourcing for scholarships for needy girls. <strong style="color:#8b8b8b;"> </strong> </p>
              <p><a  href="events.html"class="mybutton btn btn-primary btn-hover-teal py-6 px-9">Read More</a></p>
            </div>
          </div>  
        </div>

        <div class="col-md-4" style="box-shadow: 0 0px 8px 0 #636363;" >
            <br>
          <div class="media block-6">
            <div class="icon"><span class="flaticon-people"></span></div>
            <div class="media-body">
              <h3 class="heading">Food Security</h3>
              <p>To nuture and transform the socioeconomic potential of women in ASALS into environmental integrity through sustainable agricultural practices</p>
              <p><a  href="events.html"class="mybutton btn btn-primary btn-hover-teal py-6 px-9">Read More</a></p>
            </div>
          </div> 
        </div>

      </div>
    </div>
  </div> <!-- .site-section -->

  <div class="featured-section overlay-color-2" style="background-image: url('images/bg_3.jpg');">
    
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <img src="static/images/bg_3.jpg" alt="Image placeholder" class="img-fluid">
        </div>

        <div class="col-md-6 pl-md-5">
          <span class="featured-text d-block mb-3">Success Stories</span>
          <h2> </h2>
          <p class="mb-3">Education is an important means of promoting equality in a country. In Kenya, children from arid and semi-arid lands (ASAL) have unequal access to education.The status of formal education in Northern Kenya is poor and  there is a low enrollnment  of students he situation is generally worse for girls than boys, given the subordinate status of girls and women in most pastoral societies.As Fasal, we believe that Education equips people with the capacities to make informed choices about their lives and a positive contribution to society. Currently, We are supporting 95 boys and girls in high school and 14 university and tertiary institutions scholars.These are in dire need of financial support for tution and personal upkeep.</p>

         <p><a href="" class="btn btn-success btn-hover-white py-3 px-5">Read The Full Story</a></p>
        </div>
        
      </div>
    </div>

  </div> 

  <footer class="footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 col-lg-8">
        <h3  style="font-family: 'Work Sans', sans-serif; color: white;">Our History</h3>
        <p class="mb-5">Lorem ipsum dolor sit amet, pede praesent vivamus <br> scelerisque class nec faucibus, quis aliquam quis mauris a <br> scelerisque consectetuer,  ipsum donec diam risus.<br> Malesuada vitae mauris, consequat enim montes  leo aliquet integer. <br> Accumsan et turpis, justo a vitae, mi lacus lectus vehicula</p>
         
          <p><a href="blog-single.html" class="btn btn-primary px-4 py-3">Read More</a></p>
        </div>
      
        <div class="col-md-6 col-lg-4">
        <div class="block-23">
          <h3  style="font-family: 'Work Sans', sans-serif; color: white;"> Contact Info</h3>
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text"> Marsabit, Kenya</span></li>

   <li><li><a href="#"><span class="icon icon-phone"></span><span class="text"> Call Us : +254-726-111-691

    
    
    
    </span></a></li>
                <li><a href=""><span class="icon icon-facebook"></span><span class="text"> Facebook : FasalKenya</span></a></li>
                <li><a href=""><span class="icon icon-twitter"></span><span class="text"> Twitter : FasalKenya</span></a></li> 
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">Email : fasalkenya@gmail.com</span></a></li>
                <li><span class="icon icon-clock-o"></span><span class="text">Monday &mdash; Friday 8:00am - 5:00pm</span></li>
              </ul>
            </div>
        </div>
      </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12 text-center">
          <p>
    
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> by Foundation for the Arid and Semi-Arid Lands.
          
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

{% endblock%}