{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
   
    {% if category %}{{ category.name }} {% else %} Students {% endif %}
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<!-- <div class="container-fluid">
    <div class="row" style="margin-top: 6%">

      <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <div class="row">
                  <div class="row">
                          {% for student in students %}
                              <div class="col-md-4">
                                <div class="thumbnail">
                                    <a href="{{ student.get_absolute_url }}">
                                        <img src="{% if student.image %} {{ student.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                    </a>
                                    <div class="caption">
                                        <h3 class="text-center">
                                            <a href="{{ student.get_absolute_url }}">{{ student.name }}</a>
                                        </h3>
                                        <p class="text-center">{{ student.brief_story }}</p>
                                    </div>
                                </div>
                              </div>
                          {% endfor %}
                      </div>
                  </div>

              </div> -->

            

              <div class="site-section">
                 
                <div class="container">
                    
                  <div class="row">
                        {% for student in students %}
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                      <div class="post-entry mb-5">
                        <a href="{{ student.get_absolute_url }}" class="mb-3 img-wrap">
                          <img src="{% if student.image %} {{ student.image_thumbnail.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"  alt="Image placeholder" class="img-fluid">
                          <span class="date">{{ student.name }} </span>
                        </a>
                        <div class="col-md-4 text-center"> 
                       <p>{{ student.brief_story }}</p> </div> 
                    
                        <p><a href="" class="btn btn-primary  py-3 px-5">Read full story</a></p> 
                      </div>
                   
                    
                    </div>
                    {% endfor %} 
                  </div>
              
                
                </div>
               
              </div> 
             




















              <div class="container-fluid">
              <div class="col-sm-8 blog-main">
              <div class="row">
                {% if students%}
                {% else %}
                <div class="col-md-8 text-center"> 
                  <h1 style="font-family: 'Work Sans', sans-serif; color: rgb(37, 37, 37);"><strong> Sorry !! </strong>There are currently no beneficiaries updated on the Portal. Kindly visit some other time.</h1>
                  <h3 style="font-family: 'Work Sans', sans-serif; color: rgb(37, 37, 37);"> <a href="{% url 'shop:contact' %}">contact</a> us for more details</h3>
                 </div>
                 
                  <br>
                 
                {% endif %}
            
              </div>
           </div>
          
        </div>
              </div>
            </div>
          </div>        

              {% endblock %}
       