{% extends 'shop/base.html' %}

{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="site-section">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a href="static/images/arid-semi-arid.png" class="image-popup img-hover">
                <span class="icon icon-search"></span>
                <img src="static/images/arid-semi-arid.png" alt="Image placeholder" class="img-fluid">
              </a>
            </div>  
          </div>
        </div>
      </div>
    
      {% endblock %}