{% extends 'shop/base.html' %}
{% load static %}

{% block content%}
<br>
<br>
<br>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry mb-5">
            <a href="blog-single.html" class="mb-3 img-wrap"> 
              <img src="{% static 'images/bg_3-min.jpg' %}"  alt="Image placeholder" class="img-fluid">
            
            </a>
            <h3><a href="" style=" color:#e29537; font-weight: 600; ">Peace and Security</a></h3>
            <ul style=" color:#868686;">
              <li>Joint Peace Initiatives across communities thst involve government security agentsn in ASAL</li>
              <li>Capacity building on monitoring service delivery</li>
              <li>Civic education on the Bill of Rights,Land and Intergrity as provided for in the Constitution of Kenya 2010</li>
              <li>Documentation of the role of women in peace building in ASALS</li>

            </ul>
            
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry mb-5">
            <a href="" class="mb-3 img-wrap">
              <img src="{% static 'images/img03.png' %}" alt="Image placeholder" class="img-fluid">
            
            </a><h3><a href=""  style=" color:#e29537; font-weight: 600; ">Acess to Education</a></h3>
            <ul style=" color:#868686;">
                <li>Maintain a rescue center for specific number of girls identified through a set criteria</li>
                <li>Source for and manage scholarships for needy girls</li>
                <li>Civic Education for parents on the Bill of Rights with a focus on Edu</li>
                <li>Establish and maintain an effective mentorship program</li>
              </ul>
              
            
          </div>
        </div>
     
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="post-entry mb-5">
        
            <a href="" class="mb-3 img-wrap">
              <img src="{% static 'images/food.jpg' %}" alt="Image placeholder" class="img-fluid">
            
            </a>
       
            <h3><a href=""  style=" color:#e29537; font-weight: 600; ">Food Security</a></h3> <br>
             <ul style=" color:#868686;">
               <li>Skills training and education for communities multi-storey gardening, and water harvesting, tree planting</li>
              
               <li>Exchange programs with women's groups in other regions  for joint national levels advocacy initiatives on education and agriculture</li>
               
             </ul>
          </div>
        </div>


      </div>
    </div>     
  </div> <!-- .site-section -->

  <footer class="footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8 col-lg-8">
        <h3  style="font-family: 'Work Sans', sans-serif; color: white;">Our Vision</h3>
        <p class="mb-5">A secure, just and prosperous  ASAL, where people
          achieve  <br> their full potential and enjoy  high quality of life.</p>
          <h3  style="font-family: 'Work Sans', sans-serif; color: white;">Our Mission</h3>
          <p class="mb-5">To empower communities in ASALS to improve education, health, <br> 
            nutrition and security in order to become foretastes of  <br> 
            the Kingdom of God. are empowered and in charge of their welfare.</p>
        </div>
      
        <div class="col-md-6 col-lg-4">
        <div class="block-23">
          <h3  style="font-family: 'Work Sans', sans-serif; color: white;"> Contact Info</h3>
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text"> Marsabit, Kenya</span></li>

   <li><li><a href="#"><span class="icon icon-phone"></span><span class="text"> Call Us : +254-726-111-691

    
    
    
    </span></a></li>
                <li><a href=""><span class="icon icon-facebook"></span><span class="text"> Facebook : FasalKenya</span></a></li>
                <li><a href=""><span class="icon icon-twitter"></span><span class="text"> Twitter : FasalKenya</span></a></li> 
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">Email : fasalkenya@gmail.com</span></a></li>
                <li><span class="icon icon-clock-o"></span><span class="text">Monday &mdash; Friday 8:00am - 5:00pm</span></li>
              </ul>
            </div>
        </div>
      </div>
      </div>
      <div class="row pt-5">
        <div class="col-md-12 text-center">
          <p>
    
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> by Foundation for the Arid and Semi-Arid Lands.
          
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


{% endblock%}