{% extends 'shop/base.html' %}

{% load static %}


{% block content %}
<br>
<br>
<br>
<br>
<div class="row ">
        <div class="col-md-12 mb-5 text-center ">
          <h2 style="color:#e29537" >Our Founders</h2>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="static/images/avatar.png" alt="Image placeholder">
                <h3 style=" color: rgb(100, 99, 99);" class="block-38-heading">person1</h3>
                <p class="block-38-subheading">CEO</p>
              </div>
              <div class="block-38-body">
                <p style=" color: rgb(100, 99, 99);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="static/images/avatar.png" alt="Image placeholder">
                <h3 style=" color: rgb(100, 99, 99);" class="block-38-heading">person2</h3>
                <p class="block-38-subheading">Board Member</p>
              </div>
              <div class="block-38-body">
                <p style=" color: rgb(100, 99, 99);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="static/images/avatar.png" alt="Image placeholder">
                <h3 style=" color: rgb(100, 99, 99);" class="block-38-heading">person3</h3>
                <p class="block-38-subheading">Board Member</p>
              </div>
              <div class="block-38-body">
                <p style=" color: rgb(100, 99, 99);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="static/images/avatar.png" alt="Image placeholder">
                <h3  style=" color: rgb(100, 99, 99);" class="block-38-heading">person4</h3>
                <p class="block-38-subheading">Chairperson</p>
              </div>
              <div class="block-38-body">
                <p style=" color: rgb(100, 99, 99);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}  