
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
   
      <a><img src="../../static/images/fasallogo.png " alt="" style="width:250px; height:70px "></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item "><a href="{% url 'shop:home' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a  href="{% url 'shop:about' %}"  class="nav-link">About</a></li>
                <li class="nav-item"><a  href="{% url 'shop:projects' %}"  class="nav-link"> Projects</a></li>
                <li class="nav-item"><a  href="{% url 'shop:product_list' %}" class="nav-link">beneficiaries</a></li>
                <li class="nav-item"><a  href="{% url 'shop:media' %}"  class="nav-link">media</a></li>
                <li class="nav-item"><a  href="{% url 'shop:team' %}" class="nav-link">team</a></li>
                <li class="nav-item "><a href="{% url 'shop:contact' %}"  class="nav-link">Contact</a></li>
                <li class="nav-item "><a href="{% url 'shop:donate' %}" class=" btn btn-primary btn-hover-teal py-6 px-9 ">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>
